.tooltip {
  background-color: white;
  border: 2px solid black;
  border-radius: 2px;
  color: black;
  margin-left: 5px;
  padding: 4px;
  position: relative;
}

.button {
  border: 0;
  padding: 2px;
}
