.container {
  background-color: var(--cor-secundaria);
  min-height: 100vh;
  padding: 8px 12px;
}

.container form {
  margin-top: 12px;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 8px 12px;
}

.container-card a {
  margin-bottom: 16px;
}
