.container {
  align-items: center;
  background-color: var(--cor-secundaria);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem 0;
}

.categories-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.categories-container h1 {
  color: var(--cor-texto);
  font-size: 1.4rem;
  font-weight: 600;
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

.allBtn {
  background: none;
  border: none;
  color: var(--cor-texto);
  font-size: 1rem;
  right: 1rem;
  top: 1rem;
}

.allBtn img {
  margin-left: 0.3rem;
}

.categories {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  width: 100vw;
}

.categories button {
  background-color: var(--cor-secundaria-placeholder);
  border: none;
  border-radius: 10px;
  color: var(--cor-texto-secundaria);
  font-weight: 600;
  padding: 1rem;
  width: 150px;
}
