.container {
  align-items: left;
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
}

.recipe-image {
  margin: auto;
  max-width: 600px;
  width: 100%;
}

.titleAndIcons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons {
  margin-left: 5px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.fixed-btn {
  bottom: 0;
  position: fixed;
  z-index: 1;

}

