.container {
  align-items: left;
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
}

.recipe-image {
  margin: auto;
  max-width: 600px;
  width: 100%;
}

.titleAndIcons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons {
  margin-left: 5px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.fixed-btn {
  bottom: 0;
  font-size: 1.5rem;
  height: 50px;
  margin-left: calc((100% - 600px) / 2);
  max-width: 600px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.start-recipe {
  background-color: var(--cor-green1);
}

.continue-recipe {
  background-color: var(--cor-principal);

}

@media ( min-width : 632px ) {

  .ingredients {
    background-color: 'blue';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .ingredient p {
    text-align: left;
    width: 300px;
  }

}
