* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --cor-principal: rgb(255, 114, 105);

  --cor-principal-disabled: rgba(255, 115, 105, 0.807);

  --cor-secundaria: rgb(44, 47, 56);

  --cor-secundaria-placeholder: rgb(53, 56, 66);

  --cor-placeholder-escura: rgb(37, 40, 48);

  --cor-texto: white;

  --cor-texto-secundaria: rgb(104, 111, 130);

  --cor-icon-unselect: rgb(163, 169, 186);

  --cor-green1: rgb(15, 163, 107);
}
